
$font1: "Helvetica", sans-serif;
$font2: "Impact", sans-serif;
$font3: "Bradley Hand", cursive;
$black: #2A1b3D;
$darkpurple: #721ac0;
$purple: #9b29ff;
$pink: #ee72fc;
$grey: #A4B3B6;
$hotpink: #D83F87;


body{
    margin: 0;
    width: 100%;
    min-height: calc(100vh - 40px);
    padding-bottom: 40px;
}

body *{
    padding: 0;
    margin: 0;
}


.background{
    position: absolute;
    z-index: -1;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);  
    background-color: $grey;
    
}

.animationContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.me{
    
    width: 250px;
    height: 350px;
    filter: drop-shadow(4px 4px 4px black);
}

#fromBottom{
    position: absolute;
    bottom: -350px;
    left: 30%;
    animation: fromBottom 3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation-delay: 1s;
}

@keyframes fromBottom{
    0%{
        bottom: -350px;
        
    }
    50%{
        bottom: -50px;
        
    }
    100%{
        bottom: -350px;
        
    }
}

#fromSide{
    position: absolute;
    top: 40%;
    right: -250px;
    animation: fromSide 3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation-delay: 3s;
}

@keyframes fromSide{
    0%{
        transform: rotateZ(0deg);
        right: -250px;
    }
    50%{
        transform: rotateZ(-45deg);
        right: -50px;
    }
    100%{
        transform: rotateZ(0deg);
        right: -250px;
    }
}


p{
    font-family: var(--font1);
    font-size: 20px;
    margin-bottom: 20px;
}

ul{
    text-align: left;
    margin-left: 20px;
    width: 100%;
}

ul ul{
    margin-left: 40px;
}

li{
    font-family: var(--font1);
    font-size: 16px;
    margin-bottom: 20px;
}




@import "src/styles/Button";
@import "src/styles/Col";
@import "src/styles/ImageButton";
@import "src/styles/Navbar";
@import "src/styles/Row";
@import "src/styles/RotatingText";



