
$font1: "Helvetica", sans-serif;
$font2: "Press Start 2P", system-ui;
$font3: "Bradley Hand", cursive;
$black: #2A1b3D;
$darkpurple: #721ac0;
$purple: #9b29ff;
$pink: #ee72fc;
$grey: #A4B3B6;
$hotpink: #D83F87;


body{
    margin: 0;
    width: 100%;
    min-height: calc(100vh - 40px);
    padding-bottom: 40px;
}

body *{
    padding: 0;
    margin: 0;
}


.background{
    position: fixed;
    z-index: -1;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);  
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.background#desk{
    background-image: url("desk.png");
}

.game {
    position: absolute;
    top: calc(150px + 30px);
    left: 50%;
    transform: translate(-50%, 0%);
    height: 230px;
    width: 380px;
    box-shadow: inset 4px 4px 4px 0px $black, inset -1px -1px 4px 0px $black;
    
    background-color: $grey;
}

#player{
    display: none;
}

.animationContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 100vh;
    overflow: hidden;
}

.me{
    
    width: 250px;
    height: 350px;
    filter: drop-shadow(4px 4px 4px black);
}



p{
    font-family: var(--font1);
    font-size: 20px;
    margin-bottom: 20px;
}

ul{
    text-align: left;
    margin-left: 20px;
    width: 100%;
}

ul ul{
    margin-left: 40px;
}

li{
    font-family: var(--font1);
    font-size: 16px;
    margin-bottom: 20px;
}




@import "src/styles/Button";
@import "src/styles/Col";
@import "src/styles/ImageButton";
@import "src/styles/Navbar";
@import "src/styles/Row";
@import "src/styles/RotatingText";
@import "src/styles/GameBoy";
@import "src/styles/Me";
@import "src/styles/HomeBackground";



