
$font1: "Helvetica", sans-serif;
$font2: "Press Start 2P", system-ui;
$font3: "Bradley Hand", cursive;
$black: #2A1b3D;
$darkpurple: #721ac0;
$purple: #9b29ff;
$pink: #ee72fc;
$grey: #A4B3B6;
$hotpink: #D83F87;


body{
    margin: 0;
    width: 100%;
    min-height: calc(100vh - 40px);
    padding-bottom: 40px;
}

body *{
    padding: 0;
    margin: 0;
}


.background{
    position: absolute;
    z-index: -1;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);  
    background-image: url("public/background1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.animationContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 100vh;
    overflow: hidden;
}

.me{
    
    width: 250px;
    height: 350px;
    filter: drop-shadow(4px 4px 4px black);
}

#fromBottom{
    position: absolute;
    bottom: -350px;
    left: 30%;
    animation: fromBottom 3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation-delay: 1s;
}

@keyframes fromBottom{
    0%{
        bottom: -350px;
        
    }
    50%{
        bottom: -100px;
        
    }
    100%{
        bottom: -350px;
        
    }
}

#fromSide{
    position: absolute;
    top: 40%;
    right: -250px;
    animation: fromSide 3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation-delay: 3s;
}

@keyframes fromSide{
    0%{
        transform: rotateZ(0deg);
        right: -250px;
    }
    50%{
        transform: rotateZ(-45deg);
        right: -50px;
    }
    100%{
        transform: rotateZ(0deg);
        right: -250px;
    }
}

#introduction{
    position: absolute;
    transform: scale(2, 2);
    top: 75%;
    right: 100%;
    animation: introduction 1s linear forwards;
    animation-delay: 5s;
}

@keyframes introduction{
    0%{
        right: 100%;
    }
    100%{
        right: 60%;
    }
}

.textBox{
    position: absolute;
    width: 30%;
    height: 50%;
    top: 40%;
    left: 50%;
    border: 10px solid $black;
    box-shadow: 4px 4px 6px 0px $black;
    opacity: 0%;
    animation: textBoxAppear 2s linear forwards;
    animation-delay: 6s;
    background-color: white;
}

.textBox:before{
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid $black;
    border-top: 20px solid $black;
    border-bottom: 20px solid transparent;
    left: -40px;
    bottom: -10px;
    opacity: 0%;
    animation: textBoxAppear 2s linear forwards;
    animation-delay: 6s;
}

.textBox span{
    font-family: $font3;
    font-size: 28px;
}

@keyframes textBoxAppear{
    0%{ opacity: 0%}
    100%{opacity: 100%}
}

p{
    font-family: var(--font1);
    font-size: 20px;
    margin-bottom: 20px;
}

ul{
    text-align: left;
    margin-left: 20px;
    width: 100%;
}

ul ul{
    margin-left: 40px;
}

li{
    font-family: var(--font1);
    font-size: 16px;
    margin-bottom: 20px;
}




@import "src/styles/Button";
@import "src/styles/Col";
@import "src/styles/ImageButton";
@import "src/styles/Navbar";
@import "src/styles/Row";
@import "src/styles/RotatingText";



